include LICENSE
include src/pysiral/PYSIRAL-CFG-LOC
include requirements.txt
include Makefile
recursive-include src/pysiral/resources *
recursive-include src/pysiral *.pyx
recursive-include src/pysiral *.toml
recursive-include tests *.py
