astropy
attrdict
bottleneck
cftime
cython
dateperiods @ git+https://github.com/shendric/dateperiods.git@main#egg=dateperiods
dateutils
flake8
geopy
h5py
isort
loguru
lxml
isodate
isort
matplotlib
mypy
netCDF4
numpy
pillow
pandas
parse
pykdtree
pyproj
pyresample
pyshp
python-dateutil
pyyaml
schema
scipy
scikit-learn
setuptools
Sphinx
sphinx-automodapi
sphinx_rtd_theme
sphinxcontrib-mermaid
statsmodels
torch
xarray
xgboost
xmltodict

cartopy==0.18.0; python_version<="3.7"
cartopy; python_version>="3.8"
