astropy
attrdict
bottleneck
cftime
cython
git+git://github.com/shendric/dateperiods.git
dateutils
geopy
h5py
loguru
isodate
matplotlib
netCDF4
numpy
pillow
parse
pykdtree
pyproj
pyresample
pyshp
python-dateutil
pyyaml
scipy
scikit-learn
xmltodict
xarray