astropy
attrdict
bottleneck
cartopy==0.18
cftime
cython
dateperiods @ git+https://github.com/shendric/dateperiods.git@main#egg=dateperiods
dateutils
flake8
geopy
h5py
loguru
lxml
isodate
matplotlib
mypy
netCDF4
numpy
pillow
parse
pykdtree
pyproj
pyresample
pyshp
python-dateutil
pyyaml
schema
scipy
scikit-learn
Sphinx
sphinx-automodapi
sphinx_rtd_theme
sphinxcontrib-mermaid
statsmodels
torch
xarray
xgboost
xmltodict


